@charset "UTF-8";

* {margin: 0px;
   padding: 0px;
}

html, body {width: 100vw;
            height: 100vh;
        

}

body {background-image: url(../imagens/fundo-madeira.jpg);
     background-size: cover;
     background-position: top center;
            


}

section#tela  {background-color: aquamarine;
              width: 266px;
              height: 470px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50% , -50%);
              margin-top: 2px;


}

section#phone {background-image: url(../imagens/frame-iphone.png);
                background-position: center center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
               width: 311px;
               height: 627px;
               


}

