div.quadrado {border: 2px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: gray;
    border-radius: 20px;
}

body {background-image: url(imagens/wallpaper001.jpg);


}

div#q1 {background-color: brown;
    



}

div#q2 {background-image: linear-gradient(to bottom, rgb(0, 128, 77), rgb(0, 174, 255));



}

div#q3 {background-image: url(imagens/pattern003.png);



}