@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {--font01: Verdana, Geneva, Tahoma, sans-serif;
       --font02: 'Passion One';
       --font03: 'Sriracha';
}
* {margin: 0px;
      padding: 0px;
      font-size: 1em;


}

html, body {
      min-height: 100vh;
      background-color: grey;

}

header {
        background-color: black;
        color: white;



}

header > h1 { text-align: center;
              font-variant: small-caps;
              padding-top: 50px;
              font-size: 10vw;
              font-family: var(--font01);


}

header > p {text-align: center;
            font-size: 3.5vw;
            font-variant: small-caps;
            font-family: var(--font01);
            padding-bottom: 50px;


}

section {padding-top: 10vh;
         padding-bottom: 10vh;
         line-height: 2em;
         padding-left: 30px;
         font-size: 4.5vw;

}

section > p {padding-bottom: 2em;



}

section.normal {background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                font-family: var(--font03);
            
                


}

section.imagem {background-color: rgba(0, 0, 0, 0.336);
                color: rgb(255, 254, 254);
                font-family: var(--font03);
                box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.308);


}

section.imagem > p {background-color: rgba(0, 0, 0, 0.342);
                    color: white;
                    width: 400px;
                    display: inline-block;
                    padding: 5px;
                    text-shadow: 1px 1px 0px black;


}

section#img01 {background-image: url(../imagens/background001.jpg);
               background-position: right center;
               background-attachment: fixed;
               background-size: cover;
               
        


}

section#img02 {background-image:url(../imagens/background002.jpg) ;
               background-position: right center;
               background-attachment: fixed;
               background-size: cover;



}

