.principal { text-align:center;
             width: 852px;
             margin:0 auto;
             font-family:arial;
             
}

.thumbnail { text-align:center;
            width:277px;
            margin:0 auto;
            display: flex;
            gap:10px;
            font-family:arial;
            justify-content: center;
}

.thumbnail img:hover {border: 1px solid black;
                      filter: brightness(1.2);
                      transform: (0.3) scale(1.1);
                      box-shadow: (0.3);
                      
}

.rodapé {text-align:center;
         font-family:arial;
}

.título { text-align:center;
          font-size:15pt;
          line-height: 0.50;
}

body {background-color: rgb(255, 255, 255);
      
}

mark {background-color: rgb(0, 255, 106);

}