@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {--font01:Verdana, Geneva, Tahoma, sans-serif;
       --font02:'Passion One';
       --font03:'Sriracha';
}

* {margin: 0px;
   padding: 0px;
   line-height: 2em;
}

html, body {min-height: 100vh;


}

header {padding: 30px;
        background-color: black;
        color: white;
        text-align: center;



}

header h1 {font-family: var(--font01);
           font-size: 10vw;
           font-variant: small-caps;
           line-height: 1em;



}

header p {font: var(--font02);
          font-size: 3.5vw;
          font-variant: small-caps;



}

section {padding-top: 10vh;
         padding-bottom: 10vh;
         padding-left: 20px;
         font-family: var(--font03);
         font-size: 2em;
        
        


}

section.normal {background-color: white;
                color: black;
                



}

section.imagem {background-color: black;
                color: white;
                box-shadow: inset 6px 6px 3px rgba(0, 0, 0, 0.11);
                
                
                



}

section.normal > p {margin-bottom: 30px;
                    margin-top: 30px;



}

section.imagem > p {background-color: rgba(0, 0, 0, 0.233);
                    padding: 5px;
                    width: 400px;
                    text-shadow: 1px 1px 0px black;
                    
                    
                    
                    
                    


}

section#img01 {background-image: url(../imagens/background001.jpg);
               background-position: right center;
               background-attachment: fixed;
               background-size: cover;




}

section#img02 {background-image: url(../imagens/background002.jpg);
               background-position: right center;
               background-attachment: fixed;
               background-size: cover;



}

