body {font-family:"Fredericka the Great" Arial, Helvetica, sans-serif;
      background-color: #88EBC4;

}

header {text-align: center;
    background-color: #4D6B5F;
    border: 2px solid black;



}

h1 {display: block;
    nav-up: auto;
    color: white;
    margin: 15px;
    padding: 20px;
    font-size: 3em;


}

#subtitulo {text-align: center;
            background-color: #4D6B5F;
            color: white;
            margin: 15px;
            padding: 20px;
            font-size: 2em;
          



}

main {display: flex;

}




div {display:inline-block;
    background-color: #4D6B5F;
    color: white;
    height: 200px;
    width: 200px;
    border: 1px black;
    text-align: center;
    border-radius: 20px;
    padding:20px;
    align-content: center;
    border: 2px solid black;
    box-shadow: 4px 4px 5px #000000;
    margin:auto;
    margin-top: 50px; 
    font-size: 25px;
    text-decoration: none;
   
}

div:hover {background-color: #143326;




}


div > p {display: none;


}

div:hover > p {display: block;



}

a { text-decoration: none;
    color: white;


}