@charset "UTF-8";

* {margin: 0px;
    padding: 0px;


}

html , body {width: 100vw;
             height: 400vh;


}

nav {padding-top: 20px;
     padding-bottom: 20px;
     text-align: center;
     background-color: orangered;


}

nav a {padding-right: 100px;
    padding-left: 100px;
    text-align: center;
    color: white;
    text-decoration: none;
    font: normal bolder 1.3em Arial;
    text-shadow: 2px 2px 2px black;
   


}

img {background-position: center center;
    background-size: cover;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-45% , -0%);
    height: 800px;
    width: 100vw;
    
}

div {text-align: center;


}

div.texto-sobreposto {color: rgb(255, 255, 255);
                       font: normal bolder 6vw Arial;
                       position: absolute;
                       top: 50%;
                       left: 50%;
                       transform: translate(-50% , -50%);
                       text-shadow: 3px 3px 3px black;





}

.menor {font-size: 4vw;


}


}