@charset "UTF-8";

body {font-family: Arial, Helvetica, sans-serif;


}

caption {font-size: 1.3em;
        font-weight: bold;
        background-color: rgba(0, 7, 102, 0.76);
        color: rgb(229, 255, 0);
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
        padding: 5px;
}


table {border-collapse: collapse;
    background-color: black;
       


}


td, th {border: 1px solid rgb(255, 255, 255);
        text-align: center;
        padding: 5px;
        color: white;

}

.club {text-align: left;


}

img {width: 20px;
     height: 20px;


}