@charset "UTF-8";

@media print {

}

@media screen and (min-width:1024px) and (max-width:1279px)  { /* TABLET */

    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img {
        background-image: url(../imagens/icon-tablet.png);
    }

    img#celular{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width:1280px) and (max-width:1535px) {/* PC */

    body {background-image: url(../imagens/back-pc.jpg);


    }

    img {
        background-image: url(../imagens/icon-pc.png);
    }

    img#celular{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}

}

@media screen and (min-width:1535px) { /* PC */

    body {background-image: url(../imagens/back-tv.jpg);

    }

    img {
        background-image: url(../imagens/icon-tv.png);
    }
    
    img#celular{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}

}