div {display: flex;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90% , -50%);
    



}


div.bloco1 {background-color: grey;
    margin-left: 400px;
             



}

div.bloco2 {background-color: grey;
    


}