@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


:root {--font01: Verdana, Geneva, Tahoma, sans-serif;
       --font02: 'Passion One';
       --font03: 'Sriracha';
}

* {margin: 0px;
   padding: 0px;
   line-height: 2em;
}

body , html {height: 100vh;
    background-color: grey;


}

header {background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header h1 {font: normal small-caps 10vw 'Passion One';
    color: white;
}

header p {font: bold small-caps 3.5vw Verdana;
          color: white;

}

header > p > a {text-decoration: none;
                color: orange;



}

header > p > a:hover {text-decoration: underline;


}

section {padding-top: 10vh;
         padding-bottom: 10vh;
         font-family: var(--font03);
         font-size: 2em;
}

section p { width: 400px;
            background-color: rgba(255, 255, 255, 0);
            padding: 10px;
            


}

section.normal {background-color: white;
                color: black;

}

section.imagem {background-color: rgb(0, 0, 0);
                color: rgb(255, 255, 255);
                
}

section.imagem p {
text-shadow: 1px 1px 1px black;
background-color: rgba(0, 0, 0, 0.185);

}


section#img01 {background-image: url(imagens/background001.jpg);


}

section#img02 { background-image: url(imagens/background002.jpg);



}