.container {background-color: brown;
            height: 96vh;
            padding: 10px;
            position: relative;
            background-image: url(imagens/target001.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-size: 100%;
         




}

.conteudo {background-color: dimgray;
           width: 400px;
           height: 400px;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           background-image: url(imagens/target001.png);
           background-repeat: no-repeat;
           background-position: center center;
           background-size: cover;


}