@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-image: url(../imagens/back-phone.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


}

h1 {
    padding: 20px;
    text-align: center;
}

main {
    background-color: white;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
    width: 400px;
    
}

img {
    margin: auto;
}

img#phone{display: block;}
img#tablet{display: none;}
img#pc{display: none;}
img#tv{display: none;}
