      * {margin: 0px;
           padding: 0px;


        }

        a {background-color: red;
           color: white;
           padding: 40px;
           text-decoration: none;
           text-align: center;
           display: block;


        }

        ::-webkit-scrollbar {width: 0px;
                             height: 0px;


        }

        a:hover {background-color: darkred;


        }

        img {width: 100vw;


        }
