@charset "UTF-8";

* {margin: 0px;
   padding: 0px;
}

html, body {height: 100vh;
            width: 100vw;


}

body {background-image: url(../imagens/fundo-madeira.jpg);
      background-position: top center;
      background-size: cover;


}

section#celular {width: 311px;
                 height: 627px;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50% , -50%);

                 background-image: url(../imagens/frame-iphone.png);
                 background-position: top center;
                 background-repeat: no-repeat;
                 background-size: cover;
}

iframe#tela {position: relative;
             top: 13%;
             left: 7%;
             height: 471px;
             width: 267px;
}

section#redes-sociais {text-align: right;


}

section#redes-sociais img {width: 50px;
                           border-radius: 50%;
                           margin: 10px;
                           text-align: right;
                     


}

section#redes-sociais img:hover {transform: translate(-10% , -10%);
                                 transition: 0.5s;
                                 box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.37);


}

