@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}

body {
    height: 100vh;
    background-image: url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
}

img {
    margin: auto;
}

img#phone {display: block;}
img#tablet {display: none;}
img#pc {display: none;}
img#tv {display: none;}
