@charset "UTF-8";

@media screen and (min-width: 766px) {
    
}

@media screen and (min-width: 767px) and (max-width: 1279px) {

    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    main {
        width: 766px;
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
    
}

@media screen and (min-width: 1280px) and (max-width: 1535px) {
    
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

     main {
        width: 766px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1536px) {

    body {
        background-image: url(../imagens/back-tv.jpg);
    }

     main {
        width: 766px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
    
}