@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #233EFF;



}

h1 {
    color: white;
    padding: 10px;

}