* {margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        img {width: 100vw;

        }

        ::-webkit-scrollbar {width: 0px;
                             height: 0px;


        }

        a {display: block;
            padding: 20px;
            font-weight: bolder;
            color: white;
            text-decoration: none;
            background-color: brown;
            text-align: center;


        }
