.container {background-color:violet;
            max-width: 1900px;
            height: 96vh;
            padding: 10px;
            position:relative;
            margin: auto;
            background-image: url(imagens/target001.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;




}

.conteudo {background-color: yellow;
           width: 400px;
           height: 400px;
           position: absolute;
           left: 50%;
           top: 50%;
           transform: translate(-50%,-50%);
           background-image: url(imagens/target001.png);
           background-repeat: no-repeat;
            background-size: 100% 100%;



}