@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: #233EFF;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: contain;

    


}

h1 {color: white;
    padding: 10px;
    text-shadow: 2px 2px 0px rgb(71, 133, 111);


}