@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {margin: 0px;
   padding: 0px;
   line-height: 2em;
}

html , body {background-color: grey;
      height: 96vh;


}


:root {--font1:'Sriracha';
       --font2:'Passion One';
       --font3:'Arial';
}

header {padding-top: 30px;
        padding-bottom: 30px;
        background-color: black;
        text-align: center;
        color: white;
        font: normal 3vw 'Passion One';
}

header h1 {margin-bottom: -20px;


}

section {padding-top: 10vh;
        padding-bottom: 10vh;
        font: normal 2em 'Sriracha';
        padding-left: 10px;
        text-align: justify;

    
}

section.normal {background-color: white;
                color: black;


}

section.imagem {background-color: black;
                color: white;
                


}

section.normal p {margin-bottom: 30px;


}

section.imagem p {text-shadow: 1px 1px 1px black;
                background-color: rgba(0, 0, 0, 0.181);
                width: 400px;
                padding-left: 10px;



}

section#img1 {background-image: url(../imagens/background001.jpg);
              background-position: right center;
              background-size: cover;
              background-attachment: fixed;


}

section#img2 {background-image: url(../imagens/background002.jpg);
              background-position: right center;
              background-size: cover;
              background-attachment: fixed;


}