@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 40px 40px 0px 40px;
}


h1 {
    text-align: center;
}

ul {
    background-color: gray;
    list-style-type: none;
}

li {
    border-top: 1px solid rgb(81, 81, 81);
    padding: 10px;
}

li:hover {background-color: rgb(80, 80, 80);
    cursor: pointer;
          

}

menu {
    display: none;
    
}


span#burguer {
    text-align: center;
    display: block;
    cursor: pointer;
}

article {
    margin: auto;
    width: 90vw;
    background-color: rgb(77, 77, 77);
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius:0px 0px 30px 30px;
}

article h2 , p {
    color: white;
    padding: 15px;
}