@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    line-height: 2em
}

html {font-family: Arial, Helvetica, sans-serif;


}

body {width: 100vw;
      height: 100vh;


}

header {background-color: black;
    padding-top:40px;
    padding-bottom: 40px;


}


header h1 {
        color: white;
        text-align: center;
        font-size: 2em;



}

nav {background-color: rgb(62, 62, 62);
     padding: 10px;
     text-align: center;
  


}

nav a {text-decoration: none;
       color: white;

}

nav a:hover {background-color: black;
             padding: 10px;
            


}

nav ul {color: rgb(255, 255, 255);
        list-style: none;
        

}

nav li {display: inline-block;
        font-size: 1.4em;
        margin: 0px 100px 0px 100px
        



}

main{margin: 30px;
    width: 600px;
    margin: auto;
    margin-top: 40px;
    text-align: justify;
    


}

main p {margin-bottom: 20px;
        


}

main h2 {margin-bottom: 30px;
         


}


footer {text-align: center;
        margin-top: 300px;
        background-color: black;
        padding: 30px;
        color: white;
        font-size: 1.4em;
      

}