@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    line-height: 2em
}

html , body {font-family: Arial, Helvetica, sans-serif;
             max-width: 100vw;
             height: 100vh;



}


header {background-color: black;
    padding-top:40px;
    padding-bottom: 40px;


}


header h1 {
        color: white;
        text-align: center;
        font-size: 3em;



}

nav {background-color: rgb(62, 62, 62);
     padding: 10px;
     text-align: center;
  


}

nav a {text-decoration: none;
       color: white;

}

nav a:hover {border-bottom: 4px solid gray;
             border-top: 1px solid gray;
             border-left: 1px solid gray;
             border-right: 1px solid gray;
             padding: 18px 20px 0px 20px;
             padding-bottom: 17px;
            


}

nav ul {color: rgb(255, 255, 255);
        list-style: none;
        

}

nav li {display: inline-block;
        font-size: 1.4em;
        padding: 0px 100px 0px 100px;
        
        



}

main{margin: 30px;
    margin: auto;
    margin-top: 40px;
    text-align: justify;
    padding: 30px;
    


}

article p {text-indent: 30px;


}


main p {margin-bottom: 20px;
        max-width: 600px;
        margin: auto;
        margin-bottom: 30px;
        
        


}

main h2 {margin-bottom: 30px;
        text-align: center;
        padding-right: 450px;
         


}


footer {text-align: center;
        margin-top: 300px;
        background-color: black;
        padding: 30px;
        color: white;
        font-size: 1.4em;
      

}