@charset "URF-8";

* {margin: 0px;
   padding: 0px;
}

html , body {width: 100vw;
             height: 100vh;
             background-color: black;
}

body {background-image: url(../imagens/fundo-madeira.jpg);
    background-position: top center;
    background-size: cover;


}

main {
    position: relative;
    height: 100vh;


}


section#celular { width: 311px;
                  height: 627px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50% , -50%);
                  background-image: url(../imagens/frame-iphone.png);


}

iframe#tela {position: relative;
             top: 81px;
             left: 22px;
             height: 470px;
             width: 267px;
            


}

section#redes-sociais > a > img {border-radius: 50%;
                           width: 50px;
                           margin: 10px;
}

section#redes-sociais { text-align: right;


}

section#redes-sociais img:hover {border: 2px solid rgba(255, 255, 255, 0.49);
    transform: translate(-2px , -2px );
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.342);
    transition: transform 0.5s, border 0.2s;
}
