* {margin: 0px;
           padding: 0px;
        }

        body {width: 100vw;
              height: 100vh;


        }

        img {width: 100vw;


        }

        ::-webkit-scrollbar {width: 0px;
                             height: 0px;


        }

        a {background-color: rgb(255, 0, 0);
           color: white;
           text-decoration: none;
           padding: 30px;
           display: block;
           text-align: center;
           font-weight: bolder;
           font-family: Arial, Helvetica, sans-serif;
        }
