@charset "UTF-8";

* {margin: 0px;
   padding: 0px;
}

body , html {width: 100vw;
            height: 100vh;


}

body {background-image: url(../imagens/fundo-madeira.jpg);
      background-size: cover;
      background-position: top center;
}

section#celular {width: 311px;
                 height: 627px;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50% , -50%);

                 background-image: url(../imagens/frame-iphone.png);
                 background-repeat: no-repeat;
                 background-size: cover;

}

iframe#tela {position: relative;
             top:82px ;
             left:23px ;
             width: 265px;
             height: 470px;
}

section#redes-sociais {text-align: right;


}

section#redes-sociais img {border-radius: 50%;
                           width: 50px;
                           margin: 10px;
                           

}

section#redes-sociais img:hover {transform: translate(-10% , -10%);
                                 transition: transform 0.5s;


}

