@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.3em;
}

html , body {
             height: 100vh;
             font-family: Arial, Helvetica, sans-serif;

}


body {
    background-image: url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

h1 {color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.696);
    text-align: center;


}

main {background-color: white;
      width: 400px;
      margin: auto;
      margin-top: 10px;
      border-radius: 10px;
      


}

img {
    margin: auto;
    display: block;
}

img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}