@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
 
:root {--font01: Verdana, Geneva, Tahoma, sans-serif;
       --font02: 'Passion One';
       --font03: 'Sriracha';
}

* {margin: 0px;
   padding: 0px;
   line-height: 2em;
}

body , html {background-color: grey;
             height: 100vh;

}


header {background-color: black;
        padding-top: 20px;
        padding-bottom: 20px;
}

header h1 {color: white;
           text-align: center;
           font: normal small-caps 10vw 'Passion One';
}

header p {color: white;
          text-align: center;
          font: normal small-caps 3.5vw 'Passion One';
          margin-top: -20px;
}

header a {text-decoration: none;
          color: rgb(252, 191, 61);
}

header a:hover {text-decoration: underline;



}


section {font: normal normal 2em var(--font03);
          padding-left: 10px;
          padding-top: 10vh;
          padding-bottom: 10vh;


}

section.normal {background-color: white;
                color: black;
                padding-left: 20px;


}

section.imagem {background-color: rgb(0, 0, 0);
                color: rgb(255, 255, 255);
                box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.13);


}

section.imagem p {width: 400px;
                  background-color: rgba(0, 0, 0, 0.247);
                  padding-left:10px ;
                  text-shadow: 1px 1px 1px black;

}

section.normal p {margin-bottom: 30px;


}

section#img01 {background-image: url(../imagens/background001.jpg);
               background-position: right center;
               background-size: cover;
               background-attachment: fixed;


}

section#img02 {background-image: url(../imagens/background002.jpg);
               background-position: right center;
               background-size: cover;
               background-attachment: fixed;


}

footer {background-color: black;
        padding: 20px;
        color: white;
        text-align: center;
        font: normal bolder 1.4em 'Verdana';


}