@charset "UTF-8";

* {margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {height: 280vh;


}

caption {padding-left: 10px;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 1.5em;
         background-color: rgba(128, 255, 0, 0.432);
         font-weight: bolder;
        


}

thead > tr > th {background-color: black;
    padding: 10px;
    color: white;
    position: sticky;
                 top: 0;
}


tbody {text-align: center;


}

table {padding: 10px;
       border-collapse: collapse;
       position: relative;
       width: 400px;
       height: 1500px;



}

tbody > tr:nth-child(even) { background-color: gray;
                      


}


td {border: 1px solid black;



}


.foot1 {text-align: center;
    background-color: black;
    color: white;


}

tfoot {text-align: center;
    background-color: black;
    color: white;


}