body {background-image: linear-gradient(80deg, #88fd90, #00F510,#28792d);
      height: 2000px;

}

main {background-color: white;
     margin: auto;
     width: 1400px;
     padding: 40px;
     border-radius: 20px;
     box-shadow:20px 20px 20px #369b3f;
     height: 1300px;
}

h1, h2, h3 {text-align: center;
            color: #F5007A;
            text-shadow: 2px 2px 2px black;
            background-color: #e0a1c1;
            border-radius: 20px;
            background-image: linear-gradient(to right, #700081, #50005c, #390042 );
             height: 40px;
             width: 40%;
             margin: auto;
             font: italic bolder 30px  Arial, Helvetica, sans-serif;
             
          
}



p {text-align: justify;
    font: italic normal 27px 'Stranger', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;

}

.um {  font: italic normal 27px 'kalu', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: justify
}

.dois {  font: italic normal 27px 'danger', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: justify

}

.tres {  font: italic normal 27px 'harry', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: justify

}

img {max-width: 400px;
     padding: 0px;
     border-radius: 20px;
     border: #F5007A solid 6px;
     height: 520px;
    
}

header {padding: 20px;


}