@charset "UTF-8";

* {margin: 0px;
    padding: 0px;
}

html , body {height: 100vh;
             font-family: Arial, Helvetica, sans-serif;

}

body {background-image: url(../imagens/fundo-madeira.jpg) ;
      background-position: top center;
      background-size: cover;

}

section#celular {width: 311px;
                 height: 627px;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50% , -50%);
                 background-image: url(../imagens/frame-iphone.png);
                 background-repeat: no-repeat;
                 background-size: cover;
}

iframe#tela {position: relative;
             top:13%;
             left: 7%;
             width: 266px;
             height: 468px;
}

section#redes-sociais img {width: 50px;
                           border-radius: 50%;
                           margin: 10px;
            


}

section#redes-sociais img:hover {transform: translate(-10px , -10px);
                                 box-shadow: 5px 5px 8px black;
                                 transition: 0.3s;
                                 border: 1px solid white;


}

section#redes-sociais {text-align: right;
                       


}




