@font-face {
    font-family:'idroid';
    src: url('fontes/idroid.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#titulo {text-align: center;
    font: normal 60px arial;
    



}

#subtitulo {color: white;
            font: bolder normal 20px arial;
            text-align: center;
            text-shadow: 2px 2px 2px black;

            


}

#menu {text-align: left;
    margin: 60px 0px 20px 0px;
    font-weight: bolder;
    padding: 0px 0px 0px 20px;


}


#menu > a {color: white;
    text-decoration: none;
    margin-right: 30px;
    background-color: #1e5c8679;
    padding: 10px;
    

    


}

h1 {font: normal 40px arial;
    padding-top: 100px;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: left;
    




}

header {background-image: linear-gradient(to right, #143447 , #1e5d86, #35aeff);
    height: 350px;
    margin: -50px 0px -40px 0px;
 
    

        
        


}

body {text-align: center;
    margin: 0px;
    background-color: #17293D;
    font-family: Arial, Helvetica, sans-serif;



}

main {width: 1250px;
    height: 3900px;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    




}

#titulo-principal {font-family: 'idroid' , Arial, Helvetica, sans-serif;
                   color: #004472;
                   padding: 30px 0px 0px 60px;
                   text-shadow: none;
                  



}

.topicos {font-family: 'idroid' , Arial, Helvetica, sans-serif;
    background-color: #1e5c864d;
    margin: 0px 900px 20px 40px;
    padding: 0px;
    color: #004472;
   
   

    

}

.topicos > h2 {
 



}

footer > p {text-align: center;
    color: white



}


p {font: bold normal 25px arial;
    text-indent: 20px;
    text-align: justify;
    margin: 20px 40px 20px 40px


}

img {margin: 20px 0px 20px 0px;


}
