@charset "UTF-8";

section.container {
    background-color: rgb(0, 255, 145);
    display: flex;
}

div.items {
    background-color: burlywood;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    flex: auto;

}

/*
div#cx1 {
    flex: 1 1 auto;
}

div#cx2 {
    flex: 1 1 auto;
}

div#cx3 {
    flex: 1 1 auto;
}