@charset "UTF-8";

* {margin: 0px;
   padding: 0px;
}

html, body {width: 100vw;
            height: 100vh;
}

body {background-image: url(../imagens/fundo-madeira.jpg);
background-size: cover;


}

section#celular {width: 311px;
                 height: 627px;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50% , -50%);
                 background-image: url(../imagens/frame-iphone.png);
                 background-repeat: no-repeat;
}

iframe#tela {position: relative;
             height: 469px;
             width: 264px;
             top: 317px;
             left: 50%;
             transform: translate(-50% , -50%);
}

section#redes-sociais img {border-radius: 50%;
             width: 50px;
             margin: 10px;




}

section img:hover {box-shadow: 4px 4px 8px black;
                   transform: translate(-10% , -10%);
                   border: 1px solid rgba(255, 255, 255, 0.24);
                   transition: transform 0.5s, border 0.3s, box-shadow 0.6s;


}

section#redes-sociais  {text-align: right;


}