body {background-image: url(imagens/wallpaper003.jpg);
      height: 98vh;
      background-position: left top;
      background-size: 118em;
      background-repeat: no-repeat;
      background-position: left bottom;
      background-color: black;

}
header {padding: 100px 100px;
    background-image: url(imagens/wallpaper003.jpg);
      background-position: left top;
      background-size: 118em;
      background-repeat: no-repeat;
      background-position: center top;
      background-color: black;



}

main {width: 1200px;
    height: 2000px;
    background-color: white;
    margin: auto;


}

