@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
}


h1 {
    text-align: center;
}

menu {
    display: none;
}



ul {
    list-style: none;
    text-align: center;
}

ul a {
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: rgb(74, 74, 74);
    cursor: pointer;

}

li {
    border-top: 2px solid rgb(82, 82, 82);
}

span#burguer {
    text-align: center;
    display: block;
    cursor: pointer;
}

main {
    background-color: rgb(77, 77, 77);
    width: 90vw;
    margin: auto;
    color: white;
    padding: 20px;
}
