@charset "UTF-8";

@media screen and (min-width: 768px) {
    main {
        width: 768px;
    }

    menu {
        display: block;
    }

    ul {
        text-align: left;

    }

    menu li {
        display: inline-block;
        border-top: 0px solid black;
        background-color: rgb(49, 49, 49);
        padding: 3px;
    }

    span#burguer {
        display: none;
    }
}