 * {margin: 0px;
           padding: 0px;

        }


        body {width: 100vw;
              height: 100vh;

        }

        ::-webkit-scrollbar {width: 0px;
                             height: 0px;


        }

        img {width: 100vw;


        }

        a {display: block;
           background-color: red;
           color: white;
           text-decoration: none;
           text-align: center;
           font-weight: bolder;
           font-family: Arial, Helvetica, sans-serif;
           padding: 20px;


        }