@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {--font01:Verdana, Geneva, Tahoma, sans-serif;
       --font02:'Passion One';
       --font03:'Sriracha';
}

* {margin: 0px;
   padding: 0px;
   line-height: 2em;
}

html , body {height:  100vh;
             background-color: greenyellow;


}

header {background-color: black;
        color: white;
        padding-top:20px;
        padding-bottom: 20px;
}

header h1 {font: normal small-caps 10vw 'Passion One';
           text-align: center;


}

header p {font: normal small-caps 3.5vw 'Verdana';
          text-align: center;


}

section {padding-left: 20px;
         padding-top: 10vh;
         padding-bottom: 10vh;
        font-size: 2em;
        font-family: var(--font03);


}

section.normal {background-color: white;
                color: black;


}

section.imagem {background-color: black;
                color: white;


}

section.imagem p {width: 400px;
                  background-color: rgba(0, 0, 0, 0.26);
                  padding: 5px;
                  


}

section#img01 {background-image: url(../imagens/background001.jpg);
               background-position: right center;
               background-attachment: fixed;


}

section#img02 {background-image: url(../imagens/background002.jpg);
               background-position: right center;
               background-attachment: fixed;


}