div.quadrado {border: 2px solid black;
              width: 300px;
              height: 300px;
              display: inline-block;
              background-color: grey;
              border-radius: 20px;
              



}

body {background-image: url(imagens/wallpaper001.jpg);



}

div#q1 {background-color: aquamarine;



}

div#q2 {background-image: linear-gradient(to bottom, yellow, orange);


}

div#q3 {background-image: url(imagens/pattern001.png);



}