@charset "UTF-8";

caption {padding: 10px;
         font-size: 1.5em;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bolder;


}

table {width: 400px;
    border-collapse: collapse;


}

td, th {padding: 5px;
        border: 1px solid black;




}