div.quadrado {width: 300px;
              height: 300px;
              border: 2px solid black;
              border-radius: 10px;
              margin: 10px;
              display: inline-block;
              background-color: chocolate;

}

body {background-image: url(imagens/pattern003.png);



}

div#q1 {background-color: yellowgreen;



}

div#q2 {background-image: linear-gradient(to bottom, red, yellow);



}

div#q3 {background-image: url(imagens/wallpaper001.jpg);



}