body { background-image: linear-gradient(to right, #0FC2C0 10%, #0CABA8, #008F8C );


}

* {font-family: Arial, Helvetica, sans-serif;


}

main {background-color: white;
    width: 1400px;
    height: 2000px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #007977;

}

h1{color: #015958;
    text-align: center;
    text-shadow: 1px 2px 2px #00413f;


}

h2 {color: #015958;


}

p { text-align: justify;



}